<h2>パスワードリセット</h2>

<%= render "devise/shared/error_messages", resource: resource %>
<div class="reset-form">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "New Password(#{@minimum_password_length} characters minimum)" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password_confirmation" %>
    </div>

    <div class="actions">
      <%= f.submit "リセット", class: "submit" %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
