<%# カラー比較部分 %>
<div id="chart">
    <div id="chart1" class="color-pallete">
        <%= check_box_tag :pallete1 %>
        <%= label_tag :pallete1, "パレット1" %>
    </div>
    <div id="chart2" class="color-pallete">
        <%= check_box_tag :pallete2 %>
        <%= label_tag :pallete2, "パレット2" %>
    </div>
    <div id="chart3" class="color-pallete">
        <%= check_box_tag :pallete3 %>
        <%= label_tag :pallete3, "パレット3" %>
    </div>
    <div id="chart4" class="color-pallete">
        <%= check_box_tag :pallete4 %>
        <%= label_tag :pallete4, "パレット4" %>
    </div>
    <div id="chart5" class="color-pallete">
        <%= check_box_tag :pallete5 %>
        <%= label_tag :pallete5, "パレット5" %>
    </div>
</div>

<%# 登録カラーリスト %>
<div class="main-bg">
    <div class="color-list">
        <% @colors.zip(@makers) do |color,maker| %>
            <div class="color-item">
                <div style="width:100px;height:100px;background-color:#<%= color.color_code %>;">
                    <%# お気に入り登録・解除ボタン %>
                    <div id="like-of-<%= color.id %>" class="text-left">
                     <%= render partial: 'likes/like', locals: { color: color } %>
                    </div>
                </div>
                <div class="color-name">
                    <p class="name-text"><%= color.color_name %></p>
                    <p class="maker-text"><%= maker.maker_name %></p>
                </div>
                <div>
                	<%= button_to home_index_path(sel_id: color.id), id: "sel-#{color.id}", remote: true do %>
                        <div>Select</div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
    <div class="d-inline-block">
        <%= paginate @colors -%>
    </div>
</div>