<%# 登録カラーリスト %>
<% if @message == nil %>
    <div class="main-bg">
        <div class="color-list">
            <% @colors.zip(@makers) do |color,maker| %>
                <div class="color-item">
                    <div style="width:100px;height:100px;background-color:#<%= color.color_code %>;">
                        <%# お気に入り登録・解除ボタン %>
                        <div id="like-of-<%= color.id %>" class="text-left">
                         <%= render partial: 'likes/like', locals: { color: color } %>
                        </div>
                    </div>
                    <div>
                        <p class="name-text"><%= color.color_name %></p>
                        <p class="maker-text"><%= maker.maker_name %></p>
                    </div>
                    <div>
                        <%= button_to home_search_path(sel_id: color.id), id: "sel-#{color.id}", remote: true do %>
                            <div>Select</div>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="d-inline-block">
            <%= paginate @colors -%>
        </div>
    </div>
<% else %>
    <p class="search-none"><%= @message %></p>
<% end %>