<p id="notice"><%= notice %></p>

<h1>Colors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Kind</th>
      <th>Maker</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @colors.each do |color| %>
      <tr>
        <td><%= color.name %></td>
        <td><%= color.code %></td>
        <td><%= color.kind_id %></td>
        <td><%= color.maker_id %></td>
        <td><%= link_to 'Show', color %></td>
        <td><%= link_to 'Edit', edit_color_path(color) %></td>
        <td><%= link_to 'Del', color, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Color', new_color_path %>
<%= link_to 'Add Maker', new_maker_path %>
<%=link_to 'Home', home_index_path %>
