<h1>登録カラー一覧</h1>
<div class="color-list text-center">
  <table>
    <tbody>
      <% @colors.zip(@makers) do |color,maker| %>
        <tr>
          <td><%= color.color_name %></td>
          <td style="background-color:#<%= color.color_code %>;"></td>
          <td><%= maker.maker_name %></td>
          <td><%= link_to '詳細', color %></td>
          <td><%= link_to '編集', edit_color_path(color) %></td>
          <td><%= link_to '削除', color, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
<div class="page-nav">
  <%= paginate @colors -%>
</div>

<%= link_to '新規カラー追加', new_color_path %>
<%= link_to 'メーカー一覧', makers_path %>
