<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @color.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @color.code %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @color.kind %>
</p>

<p>
  <strong>Maker:</strong>
  <%= @color.maker %>
</p>

<%= link_to 'Edit', edit_color_path(@color) %> |
<%= link_to 'Back', colors_path %>
