<p id="notice"><%= notice %></p>

<p>
  <strong>Color name:</strong>
  <%= @color.color_name %>
</p>

<p>
  <strong>Color code:</strong>
  <%= @color.color_code %>
</p>

<p>
  <strong>maker:</strong>
  <%= @maker.maker_name %>
</p>

<%= link_to 'Edit', edit_color_path(@color) %>
<%if user_signed_in? %>
  <% if current_user.admin == true  %>
    <%= link_to 'Back List', colors_path %>
    <%= link_to 'Back MyColor', user_path(current_user.id) %>
  <% else %>
    <%= link_to 'Back MyColor', user_path(current_user.id) %>
  <% end %>
<% end %>
