<% if maker.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(maker.errors.count, "error") %> prohibited this maker from being saved:</h2>

    <ul>
    <% maker.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="maker-reg-form">
  <%= form_with(model: maker, local: true) do |form| %>
    <div class="field">
      <%= form.text_field :maker_name, placeholder: "メーカー名" %>
    </div>

    <div class="actions">
      <%= form.submit class: "submit" %>
    </div>
  <% end %>
</div>
