<h1>メーカーリスト</h1>

<table>
  <tbody>
    <% @makers.each do |maker| %>
      <tr>
        <td><%= maker.maker_name %></td>
        <td><%= link_to '編集', edit_maker_path(maker) %></td>
        <td><%= link_to '削除', maker, method: :delete, data: { confirm: '削除してよろしいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規メーカー追加', new_maker_path %>
<%= link_to '登録カラー一覧へ戻る', colors_path %>